/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: caalbert <caalbert@student.42sp.org.br>    +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/10/02 20:12:27 by caalbert          #+#    #+#             */
/*   Updated: 2023/10/02 22:38:39 by caalbert         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: "pixoretosp";
	src: url("../assets/pixoretosp.ttf");
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f2f2f2;
	font-family: 'Montserrat', sans-serif;
}

#page-container {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
}

#content-wrap {
	flex: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: pixoretosp;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 10vw;
	text-align: center;
	width: 100%;
	margin: 0;
	margin-bottom: 42px;
	margin-top: 15%;
}

li {
	list-style: none;
	text-decoration: none;
	font-size: 7rem;
	color: darkred;
	font-family: pixoretosp;
	margin-bottom: 42px;
}

li a {
	color: darkred;
	text-decoration: none;
}

li a:hover {
	color: darkslategrey;
}

.back-button, a {
	font-size: 4rem;
	color: darkred;
	font-family: pixoretosp;
	margin-bottom: 21px;
	text-decoration: none;
	cursor:pointer
}

footer {
	flex-shrink: 0;
	text-align: center;
	padding: 10px;
}
