body, html {
	background-color: black;
}

.pacman-container {
	transform: scaleX(-1);
}

.pacman {
	background-color: yellow;
	width: 50vmin;
	height: 50vmin;
	position: relative;
	border-radius: 50%;
	clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 100%, 65% 50%);
}

.eye {
	background-color: black;
	width: 2.5vmin;
	height: 2.5vmin;
	position: absolute;
	border-radius: 50%;
	top: 20%;
	left: 65%;
}